<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com-mimedic" version="1.0.0">

<name>Mimedic</name>

<description>Aplicacion directorio medico.</description>

<author email="angelyxboxlive@gmail.com" href="http://dimedic.com"> dimedic</author>

<preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
    <preference name="android-windowSoftInputMode" value="adjustPan" />
	<preference name="android-launchMode" value="singleInstance" />
	<preference name="android-alwaysRetainTaskState" value="true" />



 <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>




</widget>
