<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com-mimedic" version="1.0.0">

<name>Mimedic</name>

<description>Aplicacion directorio medico.</description>

<author email="angelyxboxlive@gmail.com" href="http://dimedic.com"> dimedic</author>

<preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
    <preference name="android-windowSoftInputMode" value="adjustPan" />
	<preference name="android-launchMode" value="singleInstance" />
	<preference name="android-alwaysRetainTaskState" value="true" />




 <!-- Android icons -->
    <icon src="res/icons/android/36x36.png"  gap:platform="android" gap:density="ldpi" />
    <icon src="res/icons/android/48x48.png"  gap:platform="android" gap:density="mdpi" />
    <icon src="res/icons/android/72x72.png"  gap:platform="android" gap:density="hdpi" />
    <icon src="res/icons/android/96x96.png"  gap:platform="android" gap:density="xhdpi" /> 

    <!-- Android splashes >
    <gap:splash src="res/splash/android/200x320.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/splash/android/320x480.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/splash/android/480x800.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/splash/android/720X1280.png" gap:platform="android" gap:density="xhdpi" />

-->



 <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>




</widget>
